<%= form_for @recipe do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 <br>
 <%= f.label :course %>
 <%= f.text_field :course %>
 <br>
 <%= f.label :cooktime %>
 <%= f.text_field :cooktime %>
 <br>
 <%= f.label :servingtime %>
 <%= f.text_field :servingtime %>
 <br>
 <%= f.label :instructions %>
 <%= f.text_field :instructions %>
 <br>
 <%= f.label :image %>
 <%= f.text_field :image %>
 <br>
  <% Ingredient.all.each do |ingredient| %>
  <span><%= ingredient.name %></span>
   <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, ingredient.in?(@recipe.ingredients.to_a) %>
  <% end %>
  <br>
 <%= f.submit %>

<% end %>